main {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}
.card-title {
  text-align: center;
  background-color: blue;
}

.align-right {
  text-align: right;
  align-content: end;
}

input {
  width: 100%;
  border-radius: 5px;
}

.top-margin {
  margin-top: 20px;
}

.register {
  margin-top: 10px;
  text-align: right;
}

.btn-dark{
  text-align: right;
}
